<!DOCTYPE html>
<html lang="pt-Br">
  
  <%- include ("./components/head.ejs") %> 
  <body>
    <%- include("./components/header.ejs")%>

    <main>
      <section class="container">
        <div class="mNewProdutos">
          
          <%if (typeof itensMenorValor !== "undefined") {%>
          
            <%for (let i in itensMenorValor) {%>
            <a href="/itemvenda/<%=itensMenorValor[i].id%>" class="mNPItem" style="text-decoration: none;">
            <div class="mNPItemPic">
              <img src="<%=itensMenorValor[i].img%>" alt="Imagem Produto" />
            </div>
            <div class="mNPItemDesc"><%=itensMenorValor[i].nome%></div>
            <div class="mNPItemVlr"><strong><%=itensMenorValor[i].valor.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})%></strong></div>
          </a>
          <%}%>
          <%}%>
        </div>
        <div class="mBanner">
          <img src="/img/svg/banner-promocional.svg" alt="Frete Grátis" />
        </div>
        <div class="mMarcas">
          <div class="mMMarca">
           <a href="/consultaprod/lenovo"><img src="/img/svg/lenovo-logo.svg" alt="Marca Lenovo" /></a> 
          </div>
          <div class="mMMarca">
            <a href="/consultaprod/samsung"><img src="/img/svg/samsung-logo.svg" alt="Marca Samsung" /></a> 
          </div>
          <div class="mMMarca">
            <a href="/consultaprod/dell"><img src="/img/svg/dell-logo.svg" alt="Marca Dell" /></a>         
          </div>
          <div class="mMMarca">
            <a href="/consultaprod/acer"><img src="/img/svg/acer-logo.svg" alt="Marca Acer" /></a>           
          </div>
        </div>
        <div class="mProdutosBaratos">

            <%if (typeof itensMaisRecentes !== "undefined") {%> 

              <%for (let i in itensMaisRecentes){%>
          <a href="/itemvenda/<%=itensMaisRecentes[i].id%>" class="mPBItem" style="text-decoration: none;">
            <div class="mPBItemImg-Comprar">
              <div class="mPBItemIMG">
                <img
                  src="<%=itensMaisRecentes[i].img%>"
                  alt="Imagem Produto" width="80%" height="80%"
                />
              </div>
              <div class="mPBItemVlr" id="mPBItemVlr">
                <strong><%=itensMaisRecentes[i].valor.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})%></strong>
              </div>
            </div>
            <div class="mPBItemDesc"><%=itensMaisRecentes[i].nome%></div>
          </a>
          <%}%>
          <%}%>
          
        </div>
      </section>
      
    </main>

    <%- include("./components/footer.ejs") %>
  </body>
</html>
