<!DOCTYPE html>
<html lang="pt-BR">
    <%- include ("./components/head.ejs") %> 
    <body>
      <%- include("./components/header.ejs")%> 
      
      <main>
        <section class="container d-flex flex-row">
          <%- include("./components/navLateralhomeadmin.ejs")%><!--  MENU LATERAL DO CLIENTE -->
            <section class="bg-light rounded ms-2 w-100 p-3" style="height: 200rem;">
                <div class="my-5">
                    <h1 class="text-dark text-center">Meus pedidos</h1>
                </div>
              <%if (typeof pedido !== "undefined"){%>
                <%for (i in pedido){%>  
                <div class="card mb-2" style="width: 100%;">
                    <div class="card-body">
                      <h5 class="card-title text-dark">Pedido nยบ: <%=pedido[i].id%></h5>                    
                      <p class="card-text text-secondary">R$ <%=pedido[i].total%></p>
                    </div>
                  </div>
                  <%}%>
                  <%}%>
            </section>
        </section>

      </main>

      <%- include("./components/footer.ejs") %>
</body>
</html>