<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('./components/headAdmin.ejs') %>

    <body>
      
      <%- include('./components/headerAdmin.ejs') %> 
      
      <main class="bg-secondary">
        <section class="container py-2 rounded-2 d-flex flex-wrap" style=" background-color: var(--bs-tertiary-color);" >
            
            <div style="height: 60rem;">
                <a href="/editacaditem" class="btn btn-light me-2 mt-2">NOVO</a>
                
            </div>
            <div class="flex-fill">
              
              <%for (let i in produto){%>
              
                <div class="card d-flex my-2 flex-wrap flex-row" style="width: 100%;">
                    <img src="<%=produto[i].img%>" class="card-img-top" alt="IMAGEM PRODUTO" style="width: 5rem; height: 5rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%=produto[i].nome%></h5>
                      
                      <a href="/editacaditem/<%=produto[i].id%>" class="btn btn-primary">EDITAR</a>
                      <a href="#" class="btn btn-danger">EXLCUIR</a>
                    </div>
                  </div>

                  
              <%}%>    
              


                
                
            </div>
            

        </section>

      </main>



      <%- include('./components/footerAdmin.ejs') %>
</body>
</html>